.cover__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFDFD;
  text-decoration: none;
}

.cover__link::after {
  /* padding-bottom: 62.5%; */
  content: "";
  background: #2A2C2F;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
  min-height: 100%;
  min-width: 100%;
}

.cover__link:hover:after {
  opacity: .8;
}


/* @media screen and (max-width: 1150) {
  .cover__link {
    min-height: 640px;
  }
  
  .cover__link:hover:after {
    min-height: 640px;
  }
} */