.intro__subtitle {
  width: 70.12%;
  font-family: 'Inter', sans-serif;
  margin: 40px 0 0;
  font-weight: 400;
  text-align: left;
  font-style: normal;
  font-size: 24px;
  line-height: 1.42;
  color: #FFFFFF;
}

@media screen and (max-width: 1150px) {
  .intro__subtitle {
    min-width: 74.35%;
  }      
}

@media screen and (max-width: 860px) {
  .intro__subtitle {
    width: 100%;
  }      
}
