.places {
  padding: 0;
  max-width: 984px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 92px auto 0;
}

@media screen and (max-width: 1150px) {
  .places {
    max-width: 928px;
  } 
}

@media screen and (max-width: 860px) {
  .places {
    max-width: 720px;
  } 
}

@media screen and (max-width: 425px) {
  .places {
    margin: 64px auto 0;
    max-width: 720px;
  } 
}
