.places {
  max-width: 83.1%;
  margin: 92px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

@media screen and (max-width: 1150px) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 860px) {
  .places {
    max-width: calc(100% - 48px);
    margin-top: 88px;
  }
}

@media screen and (max-width: 540px) {
  .places {
    max-width: 100%;
    margin: 64px 0 0;
  }
}