.lead {
  margin: 58px auto 92px;
  max-width: 83.15%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}  




@media screen and (max-width: 1150px) {
  .lead {
    min-width: calc( 100% - 96px);
    margin: 50px auto 92px; 
  }
}

@media screen and (max-width: 860px) {
  .lead {
    min-width: 100%;
    margin: 50px auto 88px;
  }
}

@media screen and (max-width: 540px) {
  .lead {
    margin: 50px auto 64px;
  }
}
