.lead {
  font-family: 'Inter', sans-serif;
  margin: 58px auto 0;
  max-width: calc(100% - 100px * 2); 
}  

@media screen and (max-width: 1150px) {
  .lead {
    margin: 50px auto 88px;
    max-width: calc(100% - 40px * 2);  
  }
}

@media screen and (max-width: 860px) {
  .lead {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 88px;
    padding: 0;
    max-width: 100%;
  }
}
