.cover__description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  max-width: 320px;
  margin: 0 auto;
  font-style: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

@media screen and (max-width: 425px) {
  .cover__description {
    font-size: 14px;
    line-height: 1.14;
  } 
}
