@import url(./__logo/header__logo.css);

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 82px;
}

@media screen and (max-width: 425px) {
  .header {
    min-height: 57.27px;
  }
}