.languages__link {
  margin-right: 18px;
  font-size: 24px;
  text-decoration: none;
}

.languages__link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 425px) {
  .languages__link {
    font-size: 18px;
    margin-right: 16px;
  }
}