.place__website-header {
  margin: 0 0 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color:#AAAAAA;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 3.2px;
}

@media screen and (max-width: 860px) {
  .place__website-header {
    line-height: 1;
  } 
}

@media screen and (max-width: 425px) {
  .place__website-header {
    margin-top: 30px;
    margin-bottom: 12px;
  } 
}
