.lead__title {
  font-family: 'Inter-Black', sans-serif;
  max-width: 720px;
  text-align: center;
  font-style: normal;
  font-size: 96px;
  line-height: 1.04;
  color: #FFFFFF;
  margin: 0 auto 32px;
}

@media screen and (max-width: 1150px) {
  .lead__title {
    max-width: 77.55%;
  }
}

@media screen and (max-width: 860px) {
  .lead__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    margin: 50px 5% 16px;
    font-size: 40px;
    line-height: 44px;
    max-width: 90%;
  }
}
