.lead__title {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  text-align: center;
  font-style: normal;
  font-size: 96px;
  line-height: 1.04;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 0;
}


@media screen and (max-width: 1150px) {
  .lead__title {
    min-width: calc( 100% - 208px);
  }
}

@media screen and (max-width: 860px) {
  .lead__title {
    min-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 540px) {
  .lead__title {
    min-width: calc(100% - 32px);
    font-size: 40px;
    line-height: 1.1;
  }
}
