.footer__copyright {
  width: 165px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: #FFFFFF;
}

@media screen and (max-width: 425px) {
  .footer__copyright {
    line-height: 1.14;
    margin-top: 0;
    text-align: start;
  }
}