.intro {
  max-width: 83.1%;
  margin: 92px auto 92px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

@media screen and (max-width: 1150px) {
  .intro {
    min-width: calc( 100% - 96px);
  }
}

@media screen and (max-width: 860px) {
  .intro {
    min-width: calc(100% - 48px);
  }    
}

@media screen and (max-width: 540px) {
  .intro {
    min-width: calc(100% - 32px);
    margin: 0 auto 64px;

  }    
}
