.intro {
  font-family: 'Inter', sans-serif;
  margin-top: 92px;
  margin-bottom: 92px;
  margin-right: 24.85%;
  margin-left: 8.5%;
  max-width: 690px;
}

@media screen and (max-width: 1150px) {
  .intro {
    margin-top: 114px;
    margin-right: 27.6%;
    margin-left: 4%;
  }
}

@media screen and (max-width: 860px) {
  .intro {
    margin: 92px auto 92px;
    max-width: 720px;
  }    
}

@media screen and (max-width: 425px) {
  .intro {
    max-width: 288px;
  }    
}
