.lead__subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 32px 18.5% 64px;
  padding: 0;
  font-style: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}



@media screen and (max-width: 1150px) {
  .lead__subtitle {
    min-width: calc( 100% - 308px);
  }
}

@media screen and (max-width: 860px) {
  .lead__subtitle {
    min-width: calc(100% - 148px);
  }
}

@media screen and (max-width: 540px) {
  .lead__subtitle {
    min-width: calc(100% - 32px);
    margin: 16px auto 0;
    font-size: 16px;
    line-height: 1.25;
  }
}
