.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 63%;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1150px) {
  .lead__subtitle {
    margin: 0 16.6% 56px;
    max-width: 66.8%;
  }
}
@media screen and (max-width: 860px) {
  .lead__subtitle {
    margin: 0 auto 56px;
    max-width: 80.75%;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    margin: 0 auto 40px;
    min-width: 90%;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
  }
}
