.place {
  width: 100%;
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-gap: 48px 40px;
  grid-template-areas: "title url" "image text";
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1150px) {
  .place {
    grid-gap: 48px 32px;
  } 
}

@media screen and (max-width: 860px) {
  .place {
    margin: 0 auto 72px;
    grid-gap: 48px 28px;
  } 
}

@media screen and (max-width: 540px) {
  .place {
    grid-gap: 0;
    margin: 0 auto 48px;
    display: flex;
    flex-direction: column;
  } 
}
