.footer {
  margin: 92px auto 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    margin: 64px 43.4% 24px 5%;
  }
}