.page__wrapper {
  max-width: 1184px;
  min-width: calc(320px - 24px);
  margin: auto;
}

@media screen and (max-width: 1150px) {
  .page__wrapper  {
    margin: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .page__wrapper  {
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .page__wrapper  {
    margin: 0;
    min-width: 320px;
  }
}