.place__website {
  grid-area: url;
  display: flex;
  flex-direction: column;
  align-self: end;
  list-style: none;
  justify-content: flex-end;
}

@media screen and (max-width: 540px) {
  .place__website {
    margin: 0 16px 30px;
  }
}