.grid {
  max-width: 100%;
  margin: auto;
  margin-top: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  grid-template-rows: auto;
  row-gap: 16px;
  column-gap: 16px;
}

@media screen and (max-width: 1150px) {
  .grid {
    max-width: 928px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 14px;
    column-gap: 14px;
  } 
}

@media screen and (max-width: 860px) {
  .grid {
    max-width: 720px;
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    row-gap: 16px;
    column-gap: 16px;
  } 
}

@media screen and (max-width: 425px) {
  .grid {
    max-width: 288px;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    row-gap: 16px;
    column-gap: 16px;
  } 
}
